## Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Ans. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
### SQL databases are relational, and NoSQL databases are non-relational.
### SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
### SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
### SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### Ans. Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

## CREATE :
### This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

### Example –

### CREATE TABLE table_name (
### column_1 datatype,
### column_2 datatype,
### column_3 datatype,....);

## DROP :
### This command is used to remove an existing table along with its structure from the Database.

### Example –

### DROP TABLE table_name;

## ALTER :
### This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

### Example: 

### ALTER TABLE table_name
### ADD column_name datatype;

## TRUNCATE :
### This command is used to remove all rows from the table, but the structure of the table still exists.

### Example: –

### TUNCATE TABLE table_name;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### Ans. DML or Data Manipulation Language refers to the manipulation of data present in the database.

## INSERT:
### Insert command is used to insert data into a table.

### Example: −

### Insert into <table_name> (column list) values (column values);

## UPDATE:
### Update command is used to update existing data within a table.

### Example:

### UPDATE <table_name> SET column_number =value_number WHERE condition;

## DELETE
### Delete command is used to delete records from a database table.

### Example:

### Delete from <table_name>WHERE condition;

# Q4. What is DQL? Explain SELECT with an example.

### Ans. DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it.

## SELECT:
### Select command is used to retrieve data from the database.

### Example:

### SELECT * from table_name;

# Q5. Explain Primary Key and Foreign Key.

### Ans.
## Primary Key:
### A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. The table allows only one primary key.

## Foreign Key: 
### A foreign key is generally used to build a relationship between the two tables. Tables can allow more than one foreign key.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### Ans.
### import mysql.connector

### mydb = mysql.connector.connect(
###  host="localhost",
###  user="abc",
###  password="password")

### mycursor = mydb.cursor()
### mycursor.execute("write SQL query here")


## cursor():
### Cursors are created by the connection. cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

## execute():
### The Execute method executes the query, SQL statement or procedure specified in the CommandText property of the Command object.

# Q7. Give the order of execution of SQL clauses in an SQL query.

### Ans.The oredr of execusion is :
## 1.  From/Join
## 2. Where
## 3. Group By
## 4. Having
## 5. Select
## 6. Order By
## 7. Limit/Offset